* {
  @include box-sizing;
    }

@include establish-baseline;

body {
  background-color: #eee;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

@include cf;

a {
  @include link-colors($menu-text-color, darken($menu-text-color, 10%), darken($menu-text-color, 20%));
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  text-align: center;
  color: tint($nav-menu-bg, 20%);
  padding: 2rem 0 1rem;
  margin: 0;
  @include text-shadow(-1px 0 .5px 0 #000);
  @include adjust-font-size-to(2rem);
}

.marginnone {
  margin: 0;
}

@include sticky-footer(50px, '#container', '.root-footer', '.my-footer');

#container {
  width: 100%;
}

#backtotop {
  display: none;
}

section {
  clear: both;
  @extend %maxwidth;
  width: 100%;
  height: 100%;
  margin: 67px auto 5px;


  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #121;
    padding: 0 1rem;
    margin-top: rhythm(1, $base-font-size);
  }

  hr {
    display: none;
  }

  img {
    @include box-shadow(0 0 5px 0 #000);
    max-width: 340px;
    display: block;
    margin: 0 auto;
  }

  span {
    font-weight: bold;
    color: $nav-menu-bg;
  }
}

#galleryfilterlarge {
  display: none;

  p {
    text-align: center;
  }

  ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;

    button {
      background-color: #4a523d;
      color: tint($menu-text-color, 80%);
      border: none;
      // border-radius: 10px;
      padding: .75rem .5rem;
      margin: 8px 5px;
      font-size: 1rem;
      border: 1px solid shade(#4a523d, 20%);
      text-transform: capitalize;
      // @include box-shadow(0px 2px 0 1px shade($nav-menu-bg, 60%));
      @include box-shadow(0 4px 2px 0 shade(#4a523d, 20%));

      &:hover {
        background-color: shade(#4a523d, 10%);
      }

      &:active {
        @include box-shadow(0 2px 1px 0 shade(#4a523d, 60%));
      }

      &:focus {
        outline: 0;
      }
    }
  }
}






