
@media only screen and (min-width: 321px) {

 #nav h1 a, #nav div a {
  font-size: 2.5rem;
 }

  #gallery li {
    margin: 1em 2.5%;
    width: 45%;
  }

section {

  .marginnone {
  margin-top: 0;
  }

  .mainimg {
    max-width: 600px;
  }
}

  div.social {

    ul li {
      width: 15%;
      margin: 0 4.71%;
    }

    p {
      font-size: 2rem;
    }
  }
}

#overlay {

  img {
  margin-top: 1%;
  width: 70%;
  max-width: 767px;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  #gallery {
    padding-left: 40px;

    li {
      margin: 1em 1.25%;
      width: 22.5%;
    }
  }

  img[src="img/headerroad.png"] {
    display: block;
  }

  #galleryfiltersmall {
          display: none;
        }
  #galleryfilterlarge {
    display: block;
  }

section {
  margin: 107px auto 5px;

  hr {
    display: block;
    clear: both;
    @include text-shadow(0 0 .5px .5px $nav-menu-bg);
    @include opacity(.5);
  }

  h2 {
    font-size: 3rem;
    padding: 2rem 0 2rem 64px;
    letter-spacing: .125rem;
    clear: both;
  }

  img {
    width: 35%;
    margin: 0 1rem;
    @include trailer(3);
  }

  img:nth-child(even) {
    float: left;
  }

  img:nth-child(odd) {
    float: right;
  }

  #portlandimg {
      display: none;
    }

  p {
    margin-top: rhythm(0, $base-font-size);
  }
}

#overlay {

  img {
  max-width: 1024px;
  // margin-top: 10%;
  }
}
}

@media only screen and (min-width: 768px) {


.marginnone {
  margin: 0 auto 5px;
}

section {
  margin: 107px auto 5px;

    hr {
      display: block;
      clear: both;
      @include text-shadow(0 0 .5px .5px $nav-menu-bg);
      @include opacity(.5);
    }

    h2 {
      font-size: 3rem;
      padding: 2rem 0 2rem 64px;
      letter-spacing: .125rem;
      clear: both;
    }

    img {
      width: 35%;
      margin: 0 1rem;
      @include trailer(3);
    }

    img:nth-child(even) {
      float: left;
    }

    img:nth-child(odd) {
      float: right;
    }

    #portlandimg {
      display: none;
    }

    p {
      margin-top: rhythm(0, $base-font-size);
    }
      #galleryfilterlarge {
        display: block;
      }

      #gallery {
        padding-left: 40px;

        li {
          margin: 1em 1.25%;
          width: 22.5%;
        }
      }
}

#overlay {

  img {
  margin-top: 5%;
  width: 75%;
  max-width: 1224px;
  }
}

nav {
    position: relative;
    z-index: 1;
}
#nav {

  h1 {
  word-spacing: .75rem;
  letter-spacing: .25rem;
  padding: 1rem 0;
  margin: .75rem auto .5rem;

    a {
        font-size: 4rem;
    }
  }

  div {
    display: none;

  }
}

#galleryfiltersmall {
  display: none;
}

.menu {
// width: 100%;
display: inline-block;
position: relative;
z-index: 2;

  ul {
    padding: 0;

    >li {
      float: right;
      display: inline-block;
      position: relative;
      border: none;
      margin: 0;

      &:first-child {
      float: left;
      position: relative;
      z-index: 1;
      }

      &:first-child:hover .substates {
        // top: 100%;
        @include opacity(1);
      }

      a {
        display: block;
      }
    }
  }
}

ul.footerlist {
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
}

div.footerwrapper {
  padding: .75rem 0;

ul.icon-list {
    float: right;
    padding-top: 15px;

    li {
      width: 5rem;
      float: left;
      vertical-align: middle;
      margin: 0 1.5rem;
    }
  }

  p {
  font-size: 5rem;
  float: left;
  vertical-align: middle;
  padding: 2rem;
  @include rotate(-5deg);
  margin-left: 2rem;
  }
}
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {

.menu #substates li a{
    padding: .5rem 1rem;
  }

ul.footerlist {
    font-size: 2rem;
    padding: 0 2rem;
}

#backtotop {
  position: fixed;
  bottom: 30px;
  left: 10px;
  // text-align: center;
  // padding: 2px 0 2px 20px;
  // width: 100%;
  // background-color: $nav-menu-bg;
  // @include box-shadow(0 0 2px 3px shade($nav-menu-bg, 60%));
  @include opacity(.6);
  @include single-transition(opacity, .3s, ease-out);

  &:hover {
    @include opacity(1);
  }

  a {
    width: 108px;
    display: block;
    text-align: center;
    color: #bbb;

    span {
      width: 108px;
      height: 108px;
      display: block;
      margin-bottom: 7px;
      @include border-radius(15px);
      background: #ddd url(../img/backtotop.png) no-repeat center center;

    }
  }
}
}
