

@mixin cf {
	.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
}

%inline-block {
  display: inline-block;
}

%text-color {
  color: $menu-text-color;
}

%vertical-align {
  vertical-align: middle;
}

%pointer {
  cursor: pointer;
}

%displayfont {
      font-family: 'Chicle', cursive;
      text-align: center;
      font-size: 2.5rem;
      color: #C5E597;
    }

%maxwidth {
  max-width: 1224px;
}

%displaynone {
  display: none;
}


@mixin img-dimension($img, $size) {
  width: image-width($img) / $size;
  height: image-height($img) / $size;
}
