@mixin cf {
	.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
}

%inline-block {
  display: inline-block;
}

%text-color {
  color: $menu-text-color;
}

%vertical-align {
  vertical-align: middle;
}

%pointer {
  cursor: pointer;
}

%displayfont {
      font-family: 'Chicle', cursive;
      text-align: center;
      font-size: 2.5rem;
      color: #C5E597;
    }

%maxwidth {
  max-width: 1224px;
}

%displaynone {
  display: none;
}

@mixin sprite-hover($sprite_dir, $off_state, $hover_state, $speed: .5s) {
  $sprites: sprite-map("#{$sprite_dir}/*.png");
  $width: image-width(sprite_file($sprites, $off_state));
  $height: image-height(sprite_file($sprites, $off_state));
  @include hide-text;
  width: $width;
  height: $height;
  background: sprite($sprites, $off_state) no-repeat;
  display: block;
  position: relative;
  span {
    width: $width;
    height: $height;
    background: sprite($sprites, $hover_state) no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    @include transition(opacity, $speed, ease-in-out);
    .no-opacity & {
      visibility: hidden;
    }
  }
  &:hover span {
    opacity: 1;
    .no-opacity & {
      visibility: visible;
    }
  }
}

@mixin img-dimension($img, $size) {
  width: image-width($img) / $size;
  height: image-height($img) / $size;
}

@mixin bp($point) {
  @if $point == steven {
    @media only screen and (min-width : 1024px) { @content; } //Computer
  }

  @else if $point == iulia {
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1023px)
    and (orientation : landscape)  { @content; } //Tablet(landscape)
  }

  @else if $point == olivia {
    @media only screen and (min-width: 321px)  { @content; } //Mobile(landscape) & Tablet(portrait)
  }
}
