////////////////COLOR SCHEMES//////////////////////

$bg-color: rgba(110, 116, 164, 1);
$nav-menu-bg: #454d86;
$menu-bg-color: #4a523d;
$menu-text-color: #96b0ed;


////////////////DIMENSIONS//////////////////////////

$thumb-width: 45%;

////////////////Position//////////////////////////

$center: 0 auto;


$base-font-size: 16px;
$base-line-height: 24px;
